@model PagedList.PagedList<DatVe.Models.tb_ChuyenBay>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="main-panel">
    <div class="content-wrapper">
        <h2 style="text-align:center;">DS Chuyen bay</h2>
        <p>
            @Html.ActionLink("Thêm Mới", "Create", null, new { @class = "btn btn-success" })
        </p>
        <table class="table">
            <tr>
                <th>
                    Loại Máy Bay
                </th>
                <th>
                    Tuyến Bay
                </th>
                <th>
                    Ngày Cất cánh _ Hạ Cánh
                </th>

                <th>
                    Trạng Thái
                </th>
                <th>
                    Cơ Trưởng
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.tb_MayBay.LoaiMayBay)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tb_TuyenBay.MaTuyenBay): @Html.DisplayFor(modelItem => item.DiaDiemDi)-
                        @Html.DisplayFor(modelItem => item.DiaDiemDen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ThoiGianBay)_@Html.DisplayFor(modelItem => item.ThoiGianHaCanh)
                    </td>

                    <td>
                        <span style="@(item.TrangThai == true ? "color: green; font-weight: bold;" : "color: red; font-weight: normal;")">
                            @(item.TrangThai == true ? "Đã cất cánh" : "Đang chuẩn bị")
                        </span>
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.tb_DoiBay.CoTruong)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", new { id = item.MaChuyenBay })" class="btn btn-warning" role="button">Sửa</a>
                        <a href="@Url.Action("Delete", new { id = item.MaChuyenBay })" class="btn btn-danger" role="button">Xóa</a>
                    </td>
                </tr>
            }

        </table>
        <nav class="text-center">
            <div class="MenuTrang">
                Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
            </div>

            <div class="pagination">
                @if (Model.PageNumber > 1)
                {
                    <a class="btn btn-default" href="@Url.Action("Index", new { page = 1 })"><<</a>
                }
                @for (var page = 1; page <= Model.PageCount; page++)
                {
                    <a class="btn @(Model.PageNumber == page ? "btn-primary" : "btn-default")" href="@Url.Action("Index", new { page = page })">@page</a>
                }
                @if (Model.PageNumber < Model.PageCount)
                {
                    <a class="btn btn-default" href="@Url.Action("Index", new { page = Model.PageCount })">>></a>
                }
            </div>


            <style>
                .MenuTrang {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                }

                .pagination {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            </style>
        </nav>
    </div>
   
</div>