@model IEnumerable<DatVe.Models.tb_DatVe>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="main-panel">
    <div class="content-wrapper">
        <h2 style="text-align:center;">DS Chuyen bay</h2>
        <p>
            @Html.ActionLink("Thêm Mới", "Create", null, new { @class = "btn btn-success" })
        </p>
        <table class="table">
            <tr>
                <th>
                    Họ và Tên KH
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SoGhe)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.tb_Ghe.DayGhe)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.tb_NguoiDaiDien.TenNguoiDaiDien)
                </th>*@
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.tb_NguoiDaiDien.TenNguoiDaiDien)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SoGhe)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tb_Ghe.DayGhe) @Html.DisplayFor(modelItem => item.tb_Ghe.SoGhe)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.tb_KhachHang.HovaTen)
                    </td>*@
                    
                <td>
                    <a href="@Url.Action("Edit", new { id = item.MaDatVe })" class="btn btn-warning" role="button">Summit</a>
                    <a href="@Url.Action("Detail", new { id = item.MaDatVe })" class="btn btn-warning" role="button">Xem</a>
                    <a href="@Url.Action("Delete", new { id = item.MaDatVe })" class="btn btn-danger" role="button">Xóa</a>
                </td>
                </tr>
            }

        </table>
</div>
</div>