@{
    ViewBag.Title = "Home Page";   
}
<div id="booking" class="section">
    <div class="section-center">
        <div class="container">

            <div class="row">
                <div class="col-md-4">
                    <div class="booking-cta">
                        <h1>Hành Trình Phiêu Lưu cùng Cloud_AirPlane</h1>
                        <p>Khám phá bầu trời và đặt ngay hôm nay. Hãy tận hưởng vào những chuyến đi tuyệt vời với Cloud_AirPlane.</p>
                    </div>
                </div>
                <div class="col-md-7 col-md-offset-1">
                    <div class="booking-form">
                        @using (Html.BeginForm("TimChuyenBay", "Home", FormMethod.Post))
                        {
                            <form>
                                <div class="form-group">
                                    <div class="form-checkbox">
                                        <label for="roundtrip">
                                            <input type="radio" id="roundtrip" name="typeR" onclick="show()" checked>
                                            <span></span>Khứ hồi
                                        </label>
                                        <label for="one-way">
                                            <input type="radio" id="one-way" name="typeO" onclick="hide()">
                                            <span></span>Một Chiều
                                        </label>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <span class="form-label">Từ</span>
                                            @Html.DropDownList("dssanbayFrom", ViewBag.dssanbay as SelectList, "Điểm Khởi Hành", new { @class = "form-control airport-dropdown", required = "required" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <span class="form-label">Đến</span>
                                            @Html.DropDownList("dssanbayTo", ViewBag.dssanbay as SelectList, "Điểm Đến", new { @class = "form-control airport-dropdown", required = "required" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <span class="form-label">Khởi hành:</span>
                                            <input class="form-control" type="date" name="ngaydi" required min="@DateTime.Now.ToString("yyyy-MM-dd")">
                                        </div>
                                    </div>
                                    <div class="col-md-6" id="ngayve">
                                        <div class="form-group">
                                            <span class="form-label">Ngày về :@ViewBag.ErrorMessage</span>
                                            <input class="form-control" type="date" name="ngayve" min="@DateTime.Now.ToString("yyyy-MM-dd")">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <span class="form-label">Người Lớn</span>
                                            <select class="form-control" id="adults"  name="nguoilon">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                                <option>6</option>
                                                <option>7</option>
                                                <option>8</option>
                                                <option>9</option>

                                            </select>
                                            <span class="select-arrow"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <span class="form-label">Children (0-17)</span>
                                            <select class="form-control" id="children" name="treem">
                                                <option>0</option>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                                <option>6</option>
                                                <option>7</option>
                                                <option>8</option>
                                                <option>9</option>

                                            </select>
                                            <span class="select-arrow"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <span class="form-label">Travel class</span>
                                            <select class="form-control">
                                                <option>Hạng Phổ Thông </option>
                                                <option>Hạng Thương Gia</option>
                                                <option>Hạng Nhất</option>
                                            </select>
                                            <span class="select-arrow"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-btn">
                                    <button class="submit-btn">TÌM CHUYẾN BAY</button>
                                </div>
                            </form>
                        }
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

  function hide() {
    var ngayve = document.getElementById("ngayve");
      var ngayVeInput = document.querySelector('#ngayve input[type="date"]');  
      var khuhoi = document.getElementById("roundtrip");

    if (document.getElementById("one-way").checked) {
        ngayve.style.display = "none";
        ngayVeInput.removeAttribute("min");
        ngayve.setAttribute("aria-required", "false");
        khuhoi.checked = false;
    } else {
        ngayve.style.display = "block";
        ngayVeInput.setAttribute("min", "@DateTime.Now.ToString("yyyy-MM-dd")");
     
    }
}    function show() {
    var ngayve = document.getElementById("ngayve"); 
    var khuhoi = document.getElementById("one-way");
    var ngayVeInput = document.querySelector('#ngayve input[type="date"]');
    ngayve.style.display = "block";
    ngayVeInput.setAttribute("min", "@DateTime.Now.ToString("yyyy-MM-dd")");    
    khuhoi.checked = false;
}

    document.addEventListener("DOMContentLoaded", function () {
        var adultsSelect = document.getElementById("adults");
        var childrenSelect = document.getElementById("children");
        var max = 9;
        adultsSelect.addEventListener("change", updateTotal);
        childrenSelect.addEventListener("change", updateTotal);

        function updateTotal() {
            var adultsValue = parseInt(adultsSelect.value, 10);
            var childrenValue = parseInt(childrenSelect.value, 10);

            if (adultsValue + childrenValue > max) {

                if (adultsValue > max) {
                    adultsValue = max;
                }
                childrenValue = max - adultsValue;
            }
            adultsSelect.value = adultsValue;
            childrenSelect.value = childrenValue;
        }
    });
    document.addEventListener("DOMContentLoaded", function () {
        var fromDropdown = document.getElementById("dssanbayFrom");
        var toDropdown = document.getElementById("dssanbayTo");

        fromDropdown.addEventListener("change", function () {
            checkDropdownValues();
        });

        toDropdown.addEventListener("change", function () {
            checkDropdownValues();
        });

        function checkDropdownValues() {
            var fromValue = fromDropdown.value;
            var toValue = toDropdown.value;

            if (fromValue === toValue) {
              
                toDropdown.value = "";
                alert("Điểm Khởi Hành và Điểm Đến không thể giống nhau.");
            }
        }
    });


</script>
