@model DatVe.Models.tb_MayBay

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="main-panel">
    <div class="content-wrapper">
        <h2 style="text-align:center;">Thông tin Máy bay</h2>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-md-6">
                    <div class="form-horizontal">
                        <div class="form-group">
                          Loại máy bay
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.LoaiMayBay, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LoaiMayBay, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            Số hiệu
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.SoHieu, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SoHieu, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                          Hãng sản xuất
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.HangSX, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.HangSX, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                          Mô tả 
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.MoTa, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                           Ngày sử dụng
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.NgaySuDung, new { htmlAttributes = new { @class = "form-control"  } })
                                @Html.ValidationMessageFor(model => model.NgaySuDung, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            Ngày hết hạn
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.NgayHetHan, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.NgayHetHan, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-horizontal">
                        <div class="form-group">
                            Hạng Nhất(Chỗ ngồi /seat)
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.SoGheHangNhat, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SoGheHangNhat, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                              Hạng Thương Gia(Chỗ ngồi /seat)
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.SoGheHangThuongGia, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SoGheHangThuongGia, "", new { @class = "text-danger" })
                            </div>
                        </div>                        

                        <div class="form-group">
                            Hạng Phổ Thông Đặc Biệt (Chỗ ngồi /seat)
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.SoGheHangPTDB, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SoGheHangPTDB, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            Hạng Phổ Thông (Chỗ ngồi /seat)
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.SoGheHangPT, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SoGheHangPT, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Lưu" class="btn btn-warning" />
                    @Html.ActionLink("Quay về", "Index", null, new { @class = "btn btn-success" })
                </div>
            </div>
        }

</div>
</div>