@model IEnumerable<DatVe.Models.tb_TuyenBay>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="main-panel">
    <div class="content-wrapper">
        <h2> Thông Tin Tuyến Bay </h2>

        <p>
            @Html.ActionLink("Thêm Mới", "Create", null, new { @class = "btn btn-success" })
        </p>
        <table class="table">
            <tr>
                <th>
                    Sân Bay Đi
                </th>
                <th>
                    Sân Bay Đến
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.tb_SanBay.TenSanBay)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tb_SanBay1.TenSanBay)
                    </td>
                    <td>

                        <a href="@Url.Action("Edit", new { id=item.MaTuyenBay })" class="btn btn-warning" role="button">Sửa</a>
                        <a href="@Url.Action("Delete", new { id=item.MaTuyenBay })" class = "btn btn-danger" role="button">Xóa</a>
                    </td>
                </tr>
            }

        </table>
</div>
</div>